In [3]:
#Use this link to setup plotly: https://plot.ly/python/user-guide/
#Run these two commands in Terminal to initialize plotly online
#you may need to make plotly account before doing this

#!pip install plotly
#python -c "import plotly; plotly.tools.set_credentials_file(username='ayinmv', api_key='rq66z3hqx8')"

In [5]:
#run these using your username and key
import plotly.tools as tls
tls.set_credentials_file(username='ayinmv', api_key='rq66z3hqx8')

In [39]:
import plotly.plotly as py
from plotly.graph_objs import *

In [10]:
%matplotlib inline
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)
pd.set_option('display.notebook_repr_html', True)
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [17]:
#install cufflink package
import cufflinks as cf
print cf.__version__

0.7.1

In [9]:
import pandas as pd
df=pd.read_csv("dummyoutput.csv")
df.head()

   tweet airline  pos_score  neg_score
0      1  Alaska       0.75       0.80
1      2  Alaska       0.76       0.78
2      3  Alaska       0.78       0.86
3      4  Alaska       0.86       0.86
4      5  Alaska       0.89       0.75

In [28]:
import plotly.plotly as py
df.iplot(kind='scatter')

In [20]:
df.scatter_matrix(world_readable=True)

In [25]:
series = df['airline'].value_counts()[:20]
series.head(3)

Delta        260
United       175
Southwest    150
Name: airline, dtype: int64

In [27]:
series.iplot(kind='bar', yTitle='Number of Tweets', title='Number of Tweets')

In [35]:
df2 = df[['pos_score', 'neg_score']]
df2.head(2)

   pos_score  neg_score
0       0.75       0.80
1       0.76       0.78

In [37]:
df2.iplot(kind='histogram')

In [38]:
df2.iplot(kind='histogram', barmode='stack', bins=100, histnorm='probability')

In [40]:
df2.iplot(kind='histogram', subplots=True, shape=(3, 1))

In [41]:
#may need to groupby airlines
df2.iplot(kind='box')

In [42]:
df.iplot(kind='scatter', mode='markers', x='tweet', y='pos_score')